.section-heading {
    margin-bottom: 50px;
}

.section-heading .heading-title {
    font-family: var(--font-heading);
    font-size: calc(3em - 2px); /* 40px */
    font-weight: 800;
    margin-bottom: 32px;
    line-height: 48px; /* 120% */
    letter-spacing: 0.4px;
}

.section-heading .heading-sub {
    font-size: 1.3em; /* 18px */
    font-weight: 500;
    margin-bottom: 5px;
}

.section-heading .heading-text {
    font-size: 1.15em; /* 16px */
}

.section-heading .heading-button {
    margin-top: 20px;
}

.section-gap {
    padding: 75px 0;
}

.button-custom {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 56px;
    border: 1px solid var(--primary-color);
    transition: var(--transition-default);
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--bs-white);
}

.button-custom:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--bs-white);
    color: var(--primary-color);
}

.button-custom-2 {
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 56px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    line-height: 24px;
    transition: var(--transition-default);
}

.button-custom-2:hover {
    background-color: var(--primary-color);
    color: var(--bs-white);
    border: 1px solid var(--primary-color);
}

@media (max-width: 1024px) {
    .section-gap {
        padding: 50px 0;
    }
    .button-custom-2,
    .button-custom {
        padding: 8px 16px;
        font-size: 0.85em;
    }
    .section-heading .heading-title {
        font-size: 2.2em;
        margin-bottom: 20px;
    }
    .section-heading .heading-sub {
        font-size: 1.1em;
    }
    .section-heading .heading-text{
        font-size: 1.05em;
    }
}
@media(max-width: 992px) {
    .section-heading .heading-title {
        font-size: 2em;
    }
    .section-gap {
        padding: 35px 0;
    }

}

/*==========================================
            header
===========================================*/
.header-top {
    padding: 8px 64px;
    background-color: var(--primary-color);
}

.header-top__left,
.header-top__right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-top__right {
    justify-content: end;
}

.header-top__item {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--bs-white);
    line-height: 24px;
    transition: var(--transition-default);
}

.header-top__item:hover {
    color: var(--bs-white);
}

.header-top__item .header-top__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top__item .header-top__icon > svg {
    width: 20px;
    height: 20px;
}

.header-top__item.header-time__inner {
    padding: 8px 16px;
}

.header-top__item.header-time__inner > svg {
    width: 16px;
    height: 16px;
}

.header-time__absolute {
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.10), 0px 0px 14px -4px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(16px);
    display: inline-flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    transition: var(--transition-default);
    z-index: 5;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}
.header-top__time{
    cursor: pointer;
}
.header-top__time:hover .header-time__absolute {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.header-time__absolute > li {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    justify-content: space-between;
    white-space: nowrap;
}

.header-time__absolute > li > b {
    font-weight: 700;
}

.header-time__absolute > li:not(:last-child) {
    border-bottom: 1px solid var(--primary-50);
}

.header-time__absolute > li.active {
    border-radius: 56px;
    border: 1px solid var(--primary-200);
    background: var(--primary-50);
}

.header-top__social {
    display: flex;
    padding: 0px 8px 0px 20px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    margin-left: 12px;
}

.header-top__social::before {
    position: absolute;
    content: '';
    left: 0;
    width: 1px;
    height: 24px;
    background-color: var(--primary-200);
}

.header-social__item {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.header-bottom__wrap {
    padding: 16px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 0;
}

.header-navbar > li > a {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 400;
    transition: var(--transition-default);
}

.header-navbar > li > a:hover,
.header-navbar > li > a.active {
    color: var(--primary-color);
}

.header-cart {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-cart__item {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-cart__item .number {
    position: absolute;
    left: 26px;
    top: 6px;
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0px 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    background: var(--primary-color);
    font-size: 0.75em;
    font-weight: 500;
    line-height: 16px;
    color: var(--bs-white);

}

.header-login {
    border: 1px solid var(--text-color);
    white-space: nowrap;
    color: var(--text-color);
    text-align: center;
    background-color: var(--bs-white);
}

.header-login:hover {
    background-color: var(--primary-color);
    color: var(--bs-white);
    border: 1px solid var(--primary-color);
}
.header-bars{
    height: 35px;
    font-size: 1.2em;
}

.header-close {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    margin-left: auto;
}

.header-close > span {
    width: 22px;
    height: 1px;
    display: block;
    background-color: var(--text-color);
    transition: var(--transition-default);
}

.header-close > span:first-child {
    transform: rotate(45deg);
}

.header-close > span:last-child {
    transform: rotate(-45deg);
}
.header-close:hover{
    border: 1px solid var(--primary-color);
}
.header-close:hover > span{
    background-color: var(--primary-color);
}
.header-close:hover > span:first-child,
.header-close:hover > span:last-child{
    transform: rotate(0);
}

.header-overlay {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    transition: var(--transition-default);
}

.is-navigation .header-overlay {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1024px) {
    .header-top {
        padding: 8px 0;
    }

    .header-bottom__wrap {
        padding: 16px 0;
    }

    .header-navbar {
        position: absolute;
        top: 0;
        left: -200%;
        width: 350px;
        height: 100%;
        padding: 20px;
        background-color: var(--bs-white);
        transition: all 0.4s ease-in-out;
        transition-delay: 0.1s;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 0;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
.is-navigation .header-navbar {
    left: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
    .header-navbar > li {
        width: 100%;
    }

    .header-navbar > li > a {
        width: 100%;
        padding: 16px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media (max-width: 375px) {
    .header-navbar {
        width: 100%;
    }
    .header-navbar > li > a {
        padding: 12px;
    }
}

/*=====================================
          button-swiper
========================================*/
.button-swiper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 4;
}

.button-swiper .button-swiper__item {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1.5px solid var(--text-color);
}

.button-swiper .button-swiper__item > svg {
    width: 20px;
    height: 20px;
    transition: var(--transition-default);
}
.button-swiper__item.button-prev:hover svg{
    transform: translateX(-5px);
}
.button-swiper__item.button-next:hover svg{
    transform: translateX(5px);
}


@media (max-width: 1024px) {
    .button-swiper .button-swiper__item {
        width: 46px;
        height: 46px;
    }

    .button-swiper .button-swiper__item > svg {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 992px) {
    .button-swiper .button-swiper__item {
        width: 36px;
        height: 36px;
    }
}

@media (max-width: 576px) {
    .button-swiper .button-swiper__item {
        display: none !important;
    }
}

/*=====================================
          section-hero
========================================*/
.section-hero .button-swiper__item.button-prev {
    position: absolute;
    left: 46px;
}

.section-hero .button-swiper__item.button-next {
    position: absolute;
    right: 46px;
}

.section-hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-hero__inner {
    font-size: 5.5em;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 0.88px;
    font-family: "Abhaya Libre ExtraBold";
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.section-hero__title {
    background: linear-gradient(180deg, #F960C9 12.5%, #F72BB7 64.5%, #CA008C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-hero__text {
    color: var(--text-color);
}

.section-hero__button {
    background: var(--primary-color);
    color: var(--bs-white);
    font-weight: 700;
    line-height: 24px;
    border: 1px solid var(--primary-color);
    margin: 0 auto;

}

@media (max-width: 1024px) {
    .section-hero__inner {
        font-size: 3.5em;
        line-height: unset;
        gap: 0;
        margin-bottom: 12px;
    }
}

@media (max-width: 992px) {
    .section-hero__inner {
        font-size: 2.5em;
    }
}

@media (max-width: 576px) {
    .section-hero__inner {
        font-size: 1.5em;
    }
}

/*==========================================
            section-booking
===========================================*/
.section-booking {
    background-color: #FEE4F6;
}

.section-booking .booking-image {
    position: relative;
    bottom: -70px;
}

.section-booking .booking-image:before {
    position: absolute;
    top: -70px;
    content: "";
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/booking/booking-decor.png') center center no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    opacity: .1;
}

/*==========================================
            card-reward
===========================================*/
.card-reward {
    padding: 24px 12px;
    display: flex;
    align-items: center;
    gap: 24px;
    height: 100%;
}
.card-reward .card-icon{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-reward .card-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-reward .card-title {
    font-size: 1.45em;
}

.card-reward .card-text {
    font-size: 1.15em;
}
@media(max-width: 1024px) {
    .card-reward .card-icon img {
        width: 90px;
        height: 90px;
    }
    .card-reward {
        gap: 12px;
    }
    .card-reward .card-title {
        font-size: 1.35em;
    }
    .card-reward .card-text {
        font-size: 1.05em;
    }
}
@media(max-width: 576px) {
    .card-reward .card-title {
        font-size: 1.25em;
    }
    .card-reward .card-text {
        font-size: 1em;
    }
}

/*==========================================
              section-customers
/*===========================================*/
.card-customers {
    background: linear-gradient(97deg, rgba(253, 202, 237, 0.00) 0.99%, rgba(253, 202, 237, 0.78) 98.34%);
    border-radius: 40px;
    border: 1.5px solid var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 48px;
    transition: var(--transition-default);
}

.card-customer__top,
.card-customer__star {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 16px;
}

.card-customer__bottom {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 16px;
}

.card-customer__star .quote svg {
    width: 40px;
    height: 40px;
    fill: var(--primary-color);
}

.card-customer__star {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-customer__text {
    font-weight: 300;
    line-height: 24px;

}

.card-customer__image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.card-customer__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-customer__name {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 24px;
}

.section-customers__swiper .swiper-slide {
    opacity: 0.1;
}

.section-customers__swiper .swiper-slide.swiper-slide-active {
    opacity: 1;
}

.section-customers__swiper .swiper-slide.swiper-slide-active .card-customers {
    transform: scale(1);
}

.section-customers__swiper .swiper-slide .card-customers {
    transform: scale(0.95);
}

.section-customers .button-swiper__item {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--bs-white);
    transition: var(--transition-default);
}


.section-customers .button-swiper__item > svg path {
    fill: var(--bs-white);
}

.section-customers .button-swiper__item.button-prev {
    position: absolute;
    left: 20vw;
}


.section-customers .button-swiper__item.button-next {
    position: absolute;
    right: 20vw;
}

@media (max-width: 1024px) {
    .card-customers {
        padding: 38px;
    }
    .section-customers .button-swiper__item {
        padding: 5px;
    }
}

@media (max-width: 992px) {
    .card-customers {
        padding: 28px;
    }
}

.section-booking__link {
    background-color: var(--primary-color);
    color: var(--bs-white);
}

/*==========================================
            section-service
/*===========================================*/
.section-service {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.card-service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    transition: var(--transition-default);
    padding: 24px;
    border-radius: 32px;
}

.card-service__image {
    width: 72px;
    height: 72px;
}

.card-service__image > img {
    width: 100%;
    height: 100%;
}

.card-service__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-service__title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.45em;
    line-height: 32px;
}

.card-service__text {
    color: var(--text-color);
    font-weight: 300;
    line-height: 24px;
}

.card-service__link {
    display: inline-flex;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--primary-color);
    font-weight: 700;
    transition: var(--transition-default);
}

.card-service:hover {
    background: var(--bs-white);
    box-shadow: 8px 16px 40px 0px rgba(147, 1, 101, 0.10);
}
.card-service .card-service__link svg{
    transition: var(--transition-default);
}
.card-service:hover .card-service__link svg{
    transform: translateX(5px);
}
@media(max-width: 1024px) {

    .card-service {
        gap: 12px;
    }
    .card-service__title {
        font-size: 1.35em;
    }
    .card-service__text {
        font-size: 1.05em;
    }
}
@media(max-width: 576px) {
    .card-service{
        padding: 12px;
    }
    .card-service__image {
        width: 52px;
        height: 52px;
    }
    .card-service__title {
        font-size: 1.25em;
    }
    .card-service__text {
        font-size: 1em;
    }
    .card-service__link{
        font-size: 0.9em;
    }
}
/*==========================================
           section-experience
/*===========================================*/
.section-experience__wrap {
    border-radius: 40px;
    background: var(--primary-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.section-experience__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 135px;
    flex-shrink: 0;
    width: 50%;
}

.section-experience__right {
    width: 100%;
}

.section-experience__title {
    color: var(--bs-white);
    font-family: "Abhaya Libre ExtraBold";
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.4px;
}

.section-experience__text {
    color: var(--bs-white);
    font-weight: 300;
    white-space: nowrap;
}

.section-experience__right > img {
    position: absolute;
    left: 0;
    top: 30px;
    width: 60%;
    height: auto;
    z-index: 1;
}

.section-experience__image > img {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .section-experience__left {
        padding-left: 50px;
    }

    .section-experience__button > a > img {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 576px) {
    .section-experience__title {
        font-size: 1.05em;
    }

    .section-experience__text {
        font-size: 0.7em;
    }

    .section-experience__left {
        padding-left: 30px;
        gap: 10px;
    }

    .section-experience__button > a > img {
        width: 70px;
    }
}


/*==========================================
         section-articles
/*===========================================*/
.section-articles__gird {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(2, 14rem);
    grid-gap: 16px;
}

.section-articles__gird .card-article:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

.section-articles__gird .card-article:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.section-articles__gird .card-article:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.card-article {
    border-radius: 32px;
    overflow: hidden;
    display: block;
    position: relative;
}
.card-articles__image{
    position: relative;
}
.card-articles__image::after{
    position: absolute;
    content: '';
    left: 0;
    top:0;
    width: 100%;
    height:0;
    z-index: 2;
    transition:all 0.4s ease-in-out;
    background-color: rgb(var(--primary-rgb),0.1);
}
.card-article:hover .card-articles__image::after{
    height: 100%;
}

.card-article__layer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    color: var(--bs-white);
}

.card-article__content {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.card-article__title {
    font-size: 1.45em;
    font-weight: 700;
    line-height: 32px;
    transition: var(--transition-default);
}
.card-article:hover .card-article__title{
    color:var(--primary-color);
}

.card-article__label {
    display: inline-flex;
    padding: 8px 16px;
    width: max-content;
    font-weight: 700;
    color: var(--primary-color);
    gap: 8px;
    border-radius: 56px;
    background: var(--primary-50);
}

.card-article__flex {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.card-article__date {
    margin-left: 16px;
    padding-left: 16px;
    position: relative;
    line-height: 24px;
}

.card-article__date::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 1px;
    opacity: 0.5;
    background: #FFF;
}
.card-article .card-articles__image > img{
    transition: all 0.45s ease-in-out;
}
.card-article:hover .card-articles__image > img{
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .section-articles__gird {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: unset;
        grid-gap: 8px;
    }

    .section-articles__gird .card-article:nth-child(1),
    .section-articles__gird .card-article:nth-child(2),
    .section-articles__gird .card-article:nth-child(3) {
        grid-column: unset;
        grid-row: unset;
    }
    .card-article__layer {
        padding: 20px;
    }
    .card-article__title {
        font-size: 1.35em;
    }
    .card-article__label {
        padding: 6px 12px;
        font-size: 0.9em;
    }

}

@media (max-width: 576px) {
    .section-articles__gird {
        grid-template-columns:1fr;
        grid-template-rows: unset;
        grid-gap: 8px;
    }
    .card-article__layer{
        padding: 15px 20px;
    }
    .card-article__title {
        font-size: 1.2em;
        line-height: unset;
    }
    .card-article__content{
        gap:0;
    }
}

/*==========================================
         card-gallery
/*===========================================*/
.card-gallery{
    position: relative;
    overflow: hidden;
}
.card-gallery::after{
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    content: "\f067";
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--bs-gray-100);
    cursor: zoom-in;
    font-size: 2em;
    transition:all 0.4s ease-in-out;
    background-color: rgb(var(--primary-rgb),0.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.card-gallery:hover::after{
    opacity: 1;
    visibility:visible;
    pointer-events:auto;
}
.card-gallery:hover > img{
    transform: scale(1.05);
}

/*==========================================
         footer
/*===========================================*/
.footer-wrap {
    background: #1C1E23;
    padding: 64px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-column-2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-logo {
    width: 185px;
}

.footer-logo > img {
    width: 100%;
    height: auto;
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 8px;
}

.footer-contact__link {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: var(--transition-default);
    color: var(--gray-400);
}

.footer-contact__link:hover {
    color: var(--bs-white);
}

.footer-contact__link svg > path {
    transition: var(--transition-default);
}

.footer-contact__link:hover svg > path {
    fill: var(--bs-white);
}

.footer-contact .footer-contact__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;

}

.footer-contact .footer-contact__icon > svg {
    width: 20px;
    height: 20px;
}

.footer-social {
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social > a {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
    border-radius: 50%;
}
.footer-social > a:hover {
    transform: translateY(-5px);
}

.footer-button {
    margin-top: 48px;
}

.footer-title {
    color: var(--bs-white);
    font-family: "Abhaya Libre";
    font-size: 1.45em;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form__group .form-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-form__group .form-group .form-input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    align-self: stretch;
    border-radius: 48px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--bs-white);
}

.footer-form__group .form-group .button-custom {
    height: 48px;
}

.footer-form__group .form-group .form-input::placeholder {
    color: var(--bs-white);
}

.footer-text {
    color: var(--gray-400);
    font-weight: 300;
}

.footer-locations__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.footer-locations__list .footer-item {
    width: 48%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-locations__list .footer-item__title {
    color: var(--bs-white);
    font-weight: 400;
    line-height: 24px;
}

.footer-locations__list .footer-item__image {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 7.5px 9.75px;
    border-radius: 50%;
}

.footer-copyright {
    background-color: var(--primary-color);
    color: var(--bs-white);
    padding: 8px 0;
}

.footer-list__blogs {
    margin-left: 12px;
    padding-left: 12px;
    position: relative;
}

.footer-list__blogs::before {
    position: absolute;
    content: '';
    left: 0;
    width: 1px;
    top: 50%;
    height: 24px;
    transform: translateY(-50%);
    background: var(--primary-200);
}

.footer-list__blogs > li > a {
    transition: var(--transition-default);
    color: var(--bs-white);
    font-weight: 300;
    padding: 8px 16px;
    display: block;
    white-space: nowrap;
}

.footer-list__blogs > li > a:hover {
    text-decoration: underline;
}

.footer-time {
    padding: 8px 16px;
}

.scroll-top {
    margin-left: 24px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-400);
    border: 1px solid transparent;
    transition: var(--transition-default);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.is-show.scroll-top{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.scroll-top:hover {
    background: var(--primary-200);
}

@media (max-width: 1024px) {
    .footer-wrap {
        padding: 30px 0;
    }

    .footer-button > a > img {
        width: 140px;
        height: auto;
    }

    .footer-contact {
        padding: 0;
        gap: 10px;
    }

    .footer-social {
        gap: 10px;
    }

    .footer-social > a {
        width: 35px;
        height: 35px;
    }

    .footer-social > a svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 992px) {
    .footer-list__blogs::before {
        position: unset;
        content: unset;
    }
    .footer-logo {
        width: 135px;
    }
    .footer-button > a > img {
        width: 110px;
    }
}

@media (max-width: 576px) {
    .footer-contact__link {
        width: 100%;
    }

    .footer-contact {
        gap: 5px;
    }

    .footer-locations__list .footer-item {
        width: 100%;
    }

    .footer-list__blogs {
        margin-left: 0;
        padding-left: 0;
    }
    .footer-time {
        padding: 8px 0;
    }
    .scroll-top{
        margin-left: 0;
    }

}

/*==============================
    section-breadcrumb
 ================================*/
.section-breadcrumb__wrap{
    display: flex;
    padding: 112px 64px 64px 64px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.section-breadcrumb__title{
    font-family: "Abhaya Libre ExtraBold";
    font-size: 5.5em;
    font-weight: 800;
    letter-spacing: 0.88px;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-breadcrumb .breadcrumb-item,
.section-breadcrumb .breadcrumb-item > a{
    color: var(--text-color);
    font-weight: 700;
    line-height: 24px;
}
.section-breadcrumb .breadcrumb-item{
    position: relative;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-breadcrumb .breadcrumb-item > a:hover {
    color: var(--primary-color);
}

.section-breadcrumb .breadcrumb-item::before {
    position: unset;
    content: unset;
}
.section-breadcrumb .breadcrumb-item:not(:first-child){
    padding-left: 28px;
}
.section-breadcrumb .breadcrumb-item:not(:first-child)::after {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    content: '\f101';
    top: 50%;
    left: 0;
    width: 2px;
    font-weight: 400;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--text-color);
}
@media(max-width: 1024px) {
    .section-breadcrumb__title {
        font-size: 4.5em;
    }
    .section-breadcrumb__wrap {
        padding: 80px 64px 64px 64px;
        gap: 12px;
    }
}
@media(max-width: 992px) {
    .section-breadcrumb__title {
        font-size: 3.5em;
    }
    .section-breadcrumb__wrap {
        padding: 60px 30px 30px;
    }
}
@media(max-width: 576px) {
    .section-breadcrumb__title {
        font-size: 2.5em;
    }
}
/*==============================
    card-location
 ================================*/
.card-location{
    border-radius: 32px;
    background: var(--bs-white);
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

.card-location__image{
    width: 100%;
}
.card-location__image img{
    width: 100% !important;
    height: auto !important;
}

.card-location__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.card-location__heading{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}
.card-location__icon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-location__icon > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-location__title{
    font-family: "Abhaya Libre ExtraBold";
    font-size: 2em;
    font-weight: 800;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-location__information{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.card-location__information .information-item{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card-location__information .infor-icon{
    width: 20px;
    height: 20px;
}
.information-item .info-text{
    color: var(--text-color);
    font-size:1em;
    font-weight: 300;
}
.information-item .info-text .time > span{
    font-weight: 700;
}
.card-location__star{
    color:var(--primary-color);
    font-weight: 700;
}
.card-location:hover{
    box-shadow: 8px 16px 40px 0px rgba(147, 1, 101, 0.10);
}
@media(max-width: 1024px) {
    .card-location__icon {
        width: 38px;
        height: 38px;
    }
    .card-location {
        gap: 12px;
        padding: 18px;
    }
    .card-location__title {
        font-size: 1.35em;
    }
    .information-item .info-text {
        font-size: 0.85em;
    }
    .card-location svg{
        width: 16px;
        height: 16px;
    }
}
@media(max-width: 576px) {
    .card-reward .card-title {
        font-size: 1.25em;
    }
    .card-reward .card-text {
        font-size: 1em;
    }
}